<link rel="stylesheet" href="css/add-newspaper.css">
{{!-- {{> header }} --}}
<div class="container-add-newspaper">
    <form action="/add-newspaper" method="post">
        <div class="title"><h1>Add Newspaper</h1></div><br>
        <input class="field" type="text" name="Name" id="add-newspaper-name" placeholder="Newspaper Name"><br><br>
        <input class="field" type="text" name="Price" id="add-newspaper-price" placeholder="Price"><br><br>
        <div class="btn-container-add-newspaper">
            <input class="btn-add-newspaper" type="submit" value="Add Newspaper">
        </div>
    </form>
</div>