<link rel="stylesheet" href="css/add-distributor.css">
{{!-- {{>header}} --}}
<div class="container-add-distributor">
    <form action="/add-user" method="post">
        <div class="title"><h1>Add Distributor</h1></div><br>
        <input class="field" type="text" name="Name" id="add-users-name" placeholder="Name"><br><br>
        <input class="field" type="text" name="Phone" id="add-user-phone-no" placeholder="Phone No"><br><br>
        <input class="field" type="password" name="Password" id="add-user-password" placeholder="Password"><br><br>
        <div class="btn-container-add-distributor">
            <input class="btn-add-distributor" type="submit" value="Add Distributor">
        </div>
    </form>
</div>