<link rel="stylesheet" href="css/header.css">
<script src="js/header.js"></script>
<div class="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/view-customers">View Customers</a></li>
        <li><a href="/view-distributors">View Distributors</a></li>
        <li><a href="/view-newspapers">View Newspapers</a></li>
        <li><a href="/view-pending">Pending Payments</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</div>