<link rel="stylesheet" href="css/home.css">
{{>header}}
<div class="container-home">
<div class="contain">
    <div class="group">
    <div class="title-banner">Welcome agents</div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, ab ipsam? Dignissimos, incidunt? Iusto animi obcaecati commodi ullam rem quaerat dolorum illo debitis, sint laboriosam, omnis eveniet beatae voluptatem dolore.</p>
    </div>
    <div class="img-back"></div>
    </div>
</div>