<link rel="stylesheet" href="css/login.css">

<div class="container">
    <form action="/auth-home" method="post">
        <div class="title"><h1>Login</h1></div><br>
        <input class="field" type="text" name="Phone" id="phone-no" placeholder="Phone No"><br><br>
        <input class="field" type="password" name="Password" id="password" placeholder="Password"><br><br>
        <div class="btn-container">
            <input class="btn-login" type="submit" value="Login">
        </div>
    </form>
</div>